#### Set
- {}
Fuctions:
 add(x), update(x,y,z), copy(), pop(), remove(x), discard(x), clear()
 
Mathematical operation:
union(), intersection(), difference(), symmetric_difference(),

Membership Operators
- in, not in

In [1]:
s1 = {10,20,30,40}
print(s1)
print(type(s1))

{40, 10, 20, 30}
<class 'set'>

In [2]:
# set()
l1 = [10,20,30,40,10,20,10]
s2 = set(l1)

In [3]:
print(s2)

{40, 10, 20, 30}

In [4]:
s3 = set(range(10))
print(s3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
s4={}
print(s4)
print(type(s4))

{}
<class 'dict'>

In [6]:
s5=set()
print(s5)
print(type(s5))

set()
<class 'set'>

In [7]:
# add()
s6 = {10,20,30,40}
s6.add(50)
print(s6)

{40, 10, 50, 20, 30}

In [8]:
# update()
s7 = {10,20,30,40}
l2=[50,60,70,20,30]
s7.update(l2,range(4))
print(s7)

{0, 1, 2, 3, 70, 40, 10, 50, 20, 60, 30}

In [9]:
# copy()
s8={20,30,40}
s9=s8.copy()
print(s9)

{40, 20, 30}

In [10]:
s9.add(50)
print(s9)
print(s8)

{40, 50, 20, 30}
{40, 20, 30}

In [11]:
#pop()
s8.pop()
print(s8)

{20, 30}

In [12]:
#remove(x)
print(s9)
s9.remove(20)
print(s9)

{40, 50, 20, 30}
{40, 50, 30}

In [13]:
# discard(x) - its same as remove(x), but discard function will not return any error in case if element does not find in the set
print(s9)
s9.discard(30)
print(s9)

{40, 50, 30}
{40, 50}

In [14]:
#clear()
s10 = {10,20,30,40}
print(s10)
s10.clear()
print(s10)

{40, 10, 20, 30}
set()

In [15]:
# union()
x = {10,20,30,40}
y = {30,40,50,60}
print(x.union(y))

{40, 10, 50, 20, 60, 30}

In [16]:
# intersection()
x1 = {10,20,30,40}
y1 = {30,40,50,60} 
print(x1.intersection(y1))

{40, 30}

In [17]:
# difference()
x2 = {10,20,30,40}
y2 = {30,40,50,60} 
print(x2.difference(y2))
print(y2.difference(x2))

{10, 20}
{50, 60}

In [18]:
# symmetric_difference():  returns only those elements which are present in either x OR y but not in both
x3 = {10,20,30,40}
y3 = {30,40,50,60} 
print(x3.symmetric_difference(y3))

{10, 50, 20, 60}

In [19]:
x4 = set("Python")
print(x4)
print('t' in x4) # True
print('n' in x4) #True
print('a' in x4) #False

{'y', 'o', 'h', 't', 'P', 'n'}
True
True
False

In [20]:
# Write a program to print different vowel present in the given word using set()