#### Special Operator
* Identity operator
* Membership operator

In [20]:
# Identity operator (is, is not)
# range is from -5 to 256
a = 210
b = 210
print(a is not b)

False

In [17]:
a = 270
b = 270
print(a is b)   # because the range is greater than 256

False

In [21]:
print(id(a))   # id of a and b is same because both will store same values

140712646847816

In [22]:
print(id(b))

140712646847816

In [25]:
# Membership operator

list1 = ["Python", "Java", "C#", "JavaScript"]
print("Java" in list1)
print("C#" not in list1)
print('JavaScript' in list1)
print("C" in list1)

True
False
True
False

####  Mathematical Function:
 import math
 print(math.sqrt(16))
 
 from math import sqrt,pi
 print(sqrt(16))
 
 import math as m
  print(m.sqrt(16))

In [26]:
import math
print(math.sqrt(16))

4.0

In [27]:
import math as m
print(m.sqrt(16))

4.0

In [29]:
from math import sqrt, pi
print(sqrt(16))
print(pi)

4.0
3.141592653589793

In [30]:
# Write a program to find area of circle

r = 5
print("Area of circle is: ", pi*r**2)

Area of circle is:  78.53981633974483

##### Difference between raw_input() and input() is that there is no need to make type conversion in raw_input() whereas input() needs to convert its data type, e.g. if data type of a variable is string by default then it needs to be changed in int by type conversion while using input().

In [32]:
# Dynamic input from the keyboard
# Python 2 : raw_input() and input()
# Python 3: input()

a = input("Enter value: ")
print(type(a))

Enter value: 78
<class 'str'>

In [33]:
a = int(input("Enter value: "))
print(type(a))

Enter value: 78
<class 'int'>

In [37]:
# Write a program to enter employee detail from the keyboard

name = input('Enter the name: ')
id = int(input('Enter the emp Id: '))
dept = input("Enter the department: ")
desg = input("Enter the designation: ")
sal = input('Enter the salary: ')

print("Name:",name,"\n", "Id:",id,"\n","Department:",dept,"\n",'Designation:',desg,"\n",'Salary:',sal)

Enter the name: Anand
Enter the emp Id: 111
Enter the department: IT
Enter the designation: SW
Enter the salary: 150000
Name: Anand
 Id: 111
 Department: IT
 Designation: SW
 Salary: 150000

##### eval():
eval functon take a String and evaluate the result in integer format
eval() will evaluates the mathematical expression whether it we provide the experssion in the strings

In [38]:
# eval() will evaluates the mathematical expression whether it we provide the experssion in the strings

a = eval('20 + 2*4/2')
print(a)

24.0

##### Output statements: print()

In [1]:
#print()
print("Hello \n World")

Hello
 World

In [2]:
print('Hello'*5)

HelloHelloHelloHelloHello

In [3]:
print('Hello'+5)    #error due to unmatched data types

TypeError: can only concatenate str (not "int") to str

In [4]:
print('Hello'+"world")

Helloworld

In [5]:
print(4+5)

9

In [6]:
a,b,c = 2,4,7
print('The values are:',a,b,c)    # press shift + tab to see the documentation

The values are: 2 4 7

In [7]:
#inputting separator
a,b,c = 2,4,7
print('The values are:',a,b,c, sep= ",")

The values are:,2,4,7

In [8]:
print('Hello',end=' ')
print('python',end=' ')

Hello python

In [10]:
language = "Python"
experience = 4
company = 'SW'
print('Language',language,'Experience',experience,"Company",company)

Language Python Experience 4 Company SW

In [13]:
#%i = int, %d = int, %s = string, %f = float
exp = 5
comp = 'sw'
sal = 10000.50
print('Company is %s and salary is %f and experience is %d'%(comp, sal, exp))

Company is sw and salary is 10000.500000 and experience is 5

#### Control Statements
if, if-elif, if-elif-else
#### Transfer statements
break, continue, pass
#### Iterative statements
for, while

In [15]:
# conditional statements

company_name = input('Enter company name')
if company_name == 'sw':
    print('Top fortune 500 company')
print("Mid level company")

Enter company namesw
Top fortune 500 company
Mid level company

In [19]:
company_name1 = input('Enter company name')
if company_name1 == 'sw':
    print('Top fortune 500 company')
else:
    print("Mid level company")

Enter company namesw
Top fortune 500 company

In [21]:
company_name2 = input('Enter company name')
if company_name2 == 'sw':
    print('Top fortune 500 company')
elif company_name2 == 'facebook':
    print('Top 100 fortune company')
else:
    print("Mid level company")

Enter company namefacebook
Top 100 fortune company

In [39]:
#write a program to find biggest of given 2 numbers

num1 = int(input("Enter number1:"))
num2 = int(input('Enter number2:'))

if (num1>num2):
    print("Number1 is biggest")
else:
    print('Number2 is biggest')

Enter number1:25
Enter number2:85
Number2 is biggest

In [41]:
#write a program to find biggest of given three numbers

num1 = int(input("Enter number1:"))
num2 = int(input('Enter number2:'))
num3 = int(input('Enter number3:'))

if (num1>num2) and (num1>num3):
    print("Number1 is biggest")

elif (num2>num1) and (num2>num3):
    print("Number2 is biggest")
else:
    print('Number3 is biggest')

Enter number1:85
Enter number2:45
Enter number3:71
Number1 is biggest

In [45]:
#write a program to check whether the given number is in between 20 to 50

num = int(input("Enter number:"))

if (num>=20) and (num<=50):
    print("Number is between 20 and 50")

else:
    print('Number is out of index')

Enter number:25
Number is between 20 and 50

In [49]:
# write a program to take a single digit number from the keyboard and print its english word

digit = int(input('Enter a single digit:'))

if (digit == 1):
    print('One')
elif(digit == 2):
    print('Two')
elif (digit == 3):
    print('Three')
elif(digit == 4):
    print('Four')
elif (digit == 5):
    print('Five')
elif(digit == 6):
    print('Six')
elif (digit == 7):
    print('Seven')
elif(digit == 8):
    print('Eight')
elif (digit == 9):
    print('Nine')
else:
    print('B.B..Bye!!')

Enter a single digit:11
B.B..Bye!!