### Escape Characters

\n = new Line

\t = Horizontal tab

\r = Carriage return

\b = back space

\f = form feed

\v = vertical tab

\' = Single quote

\" - Double quote

\\ = Back slash symbol

In [1]:
str1 = 'Python \n Programming'
print(str1)

Python
 Programming

In [2]:
str2 = "This is a python programming "Software Development" which is used in ML"
print(str2)

SyntaxError: invalid syntax (3567131627.py, line 1)

In [3]:
str3 = "This is a Python programming \"Software Development\" which is use in ML"
print(str3)

This is a Python programming "Software Development" which is use in ML

### Concatenate operator

In [4]:
str4 = "Python" + 4
print(str4)

TypeError: can only concatenate str (not "int") to str

In [6]:
str5 = "Python" + '4'
print(str5)

Python4

In [7]:
str6 = 4 * Python
print(str6)

NameError: name 'Python' is not defined

In [8]:
str6 = 4 * 'Python'
print(str6)

PythonPythonPythonPython

### Relational or comparision operator

In [9]:
print(True > True)
print(True >= True)
print(22 > True)
print(False > True)

False
True
True
False

In [10]:
a = 5
b = 8
if (a > b):
    print('a is greater than b')
else:
    print('a is not greater than b')

a is not greater than b

In [11]:
print(20<30<40)
print(10<20<30>50)
print(10<20<50>30)

True
False
True

### Equality operator

In [12]:
print(20 == 30)

False

In [13]:
print(1==2==3==4)
print(1==1==1==1)

False
True

### Logical operator

In [14]:
print(True and False)
print(True or False)
print(not False)

False
True
True

In [15]:
print(True and 0)
print(44 and False)

0
False

In [16]:
if (24):
    print('Hello')

Hello

In [17]:
if(0):
    print('Hi')

In [18]:
a = 30
b = 20
x = 40 if a<b else 50
print(x)

50