### List, Range, Tuple, Set, Dictionary Data Types

### List Data Type and it methods

In [6]:
a1 = [4,5,6,8]
b1 = bytes(a1)
type(b1)
print(type(b1))

<class 'bytes'>

In [7]:
b1[1]

5

In [8]:
b1[-2]

6

In [10]:
for i in b1:
    print('in loop')
    print(i)
print('out of loop')

in loop
4
in loop
5
in loop
6
in loop
8
out of loop

In [11]:
b1[1] = 222

TypeError: 'bytes' object does not support item assignment

In [13]:
a2 = [2,4,5,6,7]
b2 = bytearray(a2)
type(b2)

bytearray

In [14]:
for i in b2:
    print(i)

2
4
5
6
7

In [15]:
b2[2] = 111
for i in b2:
    print(i)

2
4
111
6
7

In [16]:
l1 = [22,54.4, True, 87, 'Python']
print(l1)

[22, 54.4, True, 87, 'Python']

In [17]:
l1[3]

87

In [18]:
l1[-4]

54.4

In [19]:
l1[1:5]

[54.4, True, 87, 'Python']

In [20]:
l1[-2:]

[87, 'Python']

In [30]:
for i in l1:
    print(i)

22
54.4
True
Python
Student
Student

In [35]:
l1.append('Student')
print(l1)

[22, 54.4, True, 'Python', 'Student']

In [36]:
l1.remove(22)
print(l1)

[54.4, True, 'Python', 'Student']

### Tuple Data Type

In [37]:
t1 = (20,30,40,50,10)
type(t1)

tuple

In [38]:
t1[4]

10

In [39]:
t1[2] = 300

TypeError: 'tuple' object does not support item assignment

### Range()

In [41]:
range1 = range(20)
for i in range1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [42]:
range2 = range(12,30,4)
for i in range2:
    print(i)

12
16
20
24
28

In [43]:
range2[6]

IndexError: range object index out of range

### set Data Type

In [44]:
set1 = {11,2,4,'Python',89}
print(set1)

{2, 4, 89, 11, 'Python'}

In [45]:
set1.add(59)
print(set1)

{2, 4, 89, 11, 'Python', 59}

In [49]:
set1.remove(11)
print(set1)

{2, 89, 'Python', 59}

### Frozenset

In [50]:
set2 = {55,44,99,22,11}
fset2 = frozenset(set2)
type(fset2)

frozenset

### Dictionary Data Type

In [52]:
d1 = {1:'Python', 2:"C", 3:'Java', 4:'C#'}
print(d1)

{1: 'Python', 2: 'C', 3: 'Java', 4: 'C#'}

In [53]:
type(d1)

dict

In [54]:
d1[2]

'C'

In [55]:
d1[3] = 'JavaScript'
print(d1)

{1: 'Python', 2: 'C', 3: 'JavaScript', 4: 'C#'}

In [56]:
d1['A1'] = 'NASA'
print(d1)

{1: 'Python', 2: 'C', 3: 'JavaScript', 4: 'C#', 'A1': 'NASA'}